<section class="section ">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-12">
        <div class="heading heading--primary heading--center"><span class="heading__pre-title">Donors</span>
          <h2 class="heading__title no-margin-bottom"><span>Who Help</span> <span>Us</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- donors slider start-->
        <div class="slider-holder">
          <div class="donors-slider donors-slider--style-1">
            
            <div class="donors-slider__item">
              <div class="donors-slider__img"><img src="/assets/img/logo_us_flag.png" alt="USA"/></div>
            </div>
            <div class="donors-slider__item">
              <div class="donors-slider__img"><img src="/assets/img/logo_usaid6.jpg" alt="USAID"/></div>
            </div>
            <div class="donors-slider__item">
              <div class="donors-slider__img"><img src="/assets/img/logo_usda.png" alt="UDSA"/></div>
            </div>
            <div class="donors-slider__item">
              <div class="donors-slider__img"><img src="/assets/img/logo_sfl.png" alt="Shelter for life"/></div>
            </div>
          </div>
        </div>
        <!-- donors slider end-->
      </div>
    </div>
  </div>
</section>